.message{
    width: 90%;
    padding: 1em;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2em;
    border-radius: 5px;
}

.success{
    color: #80ff72;
    border-color: #80ff72;
    background-color: #272727;
}

.error{
    color: #F21B3F;
    border-color: #F21B3F;
    background-color: #272727;
}